services:
  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"

  backend:
    build: .
    ports:
      - "5000:5000"
    depends_on:
      - redis
    env_file:
      - .env
